.root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 2.5rem;
  width: 2.5rem;
}

.empty {
  background-color: var(--background);
}

.seen {
  background-color: #202020;
}

.visible {
  background-color: #444444;
}

.unknown {
  background-color: var(--background);
}
