.root {
  font-family: Courier, monospace;
  font-size: 2rem;
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
