.root {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  height: 9em;
  width: 9em;
}

.row {
  height: 3rem;
  width: 9em;
  display: flex;
}

.block {
  height: 3rem;
  width: 3rem;
}

.button {
  background-color: var(--red);
  padding: 0;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
}

.button:hover {
  background-color: darkred;
}
