.root {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  height: 7.5em;
  width: 7.5em;
}

.row {
  height: 2.5rem;
  width: 7.5em;
  display: flex;
}

.block {
  height: 2.5rem;
  width: 2.5rem;
}

.button {
  background-color: var(--blue);
  padding: 0;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
}

.button:hover {
  background-color: darkblue;
}

.wait {
  background-color: goldenrod;
}

.wait:hover {
  background-color: darkgoldenrod;
}
