.root {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 35vh;
}

.row {
  height: calc(100% / 3);
  width: 100%;
  display: flex;
}

.block {
  height: 100%;
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: var(--light-green);
  padding: 0;
  outline: none;
  border-radius: 8px;

  box-shadow: none;
  box-sizing: border-box;
  height: 95%;
  width: 95%;
}

.button:hover {
  background-color: var(--green);
}

.wait {
  background-color: var(--light-blue);
}

.wait:hover {
  background-color: var(--blue);
}
