.root {
  background-color: var(--light-blue);
  overflow: auto;
  height: 50vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
}

@media (max-aspect-ratio: 1/2) {
  .root {
    height: 98vw;
    width: 98vw;
  }
}

.row {
  display: flex;
  flex-direction: row;
  height: calc(100% / 7);
  width: 100%;
}

.large {
  height: 98vh;
  width: 98vh;
}
