/* to be updated */
:root {
  --light-gray: #ababb1;
  --light-red: #fb5454;
  --light-blue: #6b7bb1;
  --light-green: #47ca47;

  --gray: #4d4d4d;
  --red: #ad1717;
  --blue: #262690;
  --green: #00641e;

  --white: #a3a3a3;
}

:root {
  --background: #eeeeee;
}

.app {
  height: 100vh;

  background-color: var(--background);
}
